
#book-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#book-list li {
    margin-bottom: 10px;
}

#book-list li.read {
    color:green;
}

#book-list li:not(.read) {
    color:red;
}

#book-list img {
    width: 50 px;
}